@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;900&display=swap");

:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-text: #918ca4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 2rem;
  line-height: 1.5;
  color: var(--color-text);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 3rem;
}

/* Icons */
.icon-container {
  /* border: 1px solid #f00; */

  background-color: #f3f9fa;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 40px;
  height: 40px;
}

.icon--light {
  fill: #ddd;
}

.icon--primary {
  fill: var(--color-primary);
}

/* Collapsible */
.collapsible__icon {
  cursor: pointer;
}

.collapsible__content {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: all 0.2s;
}

.collapsible--expanded .collapsible__content {
  opacity: 1;
  max-height: 100vh;
}

@media screen and (min-width: 640px) {
  .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }
}

/* Block */
.block {
  padding: 7rem 0;
}

.block--dark {
  background: #000;
}

.block--skewed-left {
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0% 100%);
  padding-bottom: 14rem;
}

.block--skewed-right {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 90%);
  padding-bottom: 14rem;
}

.block__header {
  text-align: center;
  margin-bottom: 4rem;
}

.block__heading {
  color: var(--color-heading);
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.block__text {
  color: var(--color-text);
  /* font-size: 2.2rem; */
}

/* Grid */
.grid {
  display: grid;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn {
  text-transform: uppercase;
  border: none;
  outline: none;
  padding: 2rem 4rem;
  border-radius: 100px;
  font-size: 1.8rem;
  font-weight: 600;
  display: inline-block;
  cursor: pointer;
  transition: all 0.15s;
}

.btn--accent {
  color: #fff;
  background-color: #ff3400;
}

.btn--accent:hover {
  background-color: #d82d02;
}

.btn--stretched {
  padding-left: 8rem;
  padding-right: 8rem;
}

.btn--outlined {
  color: var(--color-primary);
  background-color: #fff;
  border: 2px solid var(--color-primary);
}

.btn--outlined:hover {
  color: #fff;
  background-color: var(--color-primary);
}

.btn--100 {
  display: inline-block;
  width: 100%;
}

/* Badge */
.badge {
  font-size: 2rem;
  font-weight: 600;
  border-radius: 100px;
  padding: 5px 12px;
}

.badge--secondary {
  color: #fff;
  background-color: #00d9ff;
}

.badge--small {
  font-size: 1.6rem;
  padding: 5px 15px;
}

@media screen and (min-width: 1024px) {
  .badge--small {
    font-size: 1.2rem;
  }
}

/* List */
.list {
  /* padding: 10rem; */

  list-style-type: none;
}

.list--tick {
  list-style-image: url("../images/tick.svg");
}

.list--tick .list__item {
  padding: 1rem 0 1rem 0.5rem;
}

/* Card */
.card {
  /* margin: 5rem;
  width: 500px;
  border: 1px solid #f00; */

  border-radius: 7px;
  box-shadow: 0 0 20px 10px #f3f3f3;
  /* overflow: hidden; */
}

.card--secondary .card__header {
  background-color: #00d9ff;
}

.card--secondary .badge--secondary {
  background-color: #02cdf1;
}

.card--primary .card__header {
  background-color: #2584ff;
}

.card__header,
.card__body {
  padding: 3rem 2rem;
}

.card__header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.card__body .list {
  margin-left: 3rem;
}

.link-arrow {
  display: inline-block;
  text-transform: uppercase;
  font-weight: 700;
  color: #ff3400;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: all 0.2s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

.media {
  display: flex;
  gap: 2rem;
}

.media__image {
  margin-top: 7px;
}

.media__heading {
  font-size: 2.8rem;
  color: #fff;
  margin-bottom: 0.7rem;
  font-weight: 600;
  line-height: 1.3;
}

.media__description {
  font-size: 1.8rem;
}

@media screen and (min-width: 1024px) {
  .media__heading {
    font-size: 2.4rem;
  }
}

/* Quote */
.quote {
}

.quote__text {
  font-style: italic;
  color: #5c5577;
  font-size: 2.1rem;
  margin-bottom: 3rem;
}

.quote__text::before {
  content: open-quote;
}

.quote__text::after {
  content: close-quote;
}

.quote__footer {
  display: flex;
  gap: 1rem;
}

.quote__icon {
  margin-top: -0.6rem;
}

.quote__info {
  display: flex;
  flex-direction: column;
}

.quote__name {
  color: var(--color-heading);
}

.quote__company {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 1;
  opacity: 0.95;
}

@media screen and (min-width: 1024px) {
  .quote__text {
    font-size: 2.4rem;
  }

  .quote__icon {
    margin-top: -0.3rem;
  }

  .quote__name {
    font-size: 2.4rem;
  }

  .quote__company {
    font-size: 1.6rem;
  }
}

/*  */

/* Header */
.header {
  background: #000;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav__icon {
  cursor: pointer;
}

.collapsible--expanded .nav__icon {
  box-shadow: 0 0 0 3px #999;
  border-radius: 6px;
}

.nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.nav__item {
  padding: 0.5rem 0;
  border-bottom: 1px solid #333;
}

.nav__item:last-of-type {
  border-bottom: none;
}

.nav__item a {
  color: #ccc;
  font-size: 2rem;
  transition: color 0.2s;
}

.nav__item a:hover {
  color: #fff;
}

@media screen and (min-width: 640px) {
  .nav__icon {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    width: auto;
  }

  .nav__item {
    border-bottom: none;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }

  .nav__item:last-of-type {
    padding-right: 0;
  }

  .nav__item a {
    font-size: 1.6rem;
  }
}

/* Hero */
.hero__content {
  text-align: center;
}

.hero__heading {
  color: #fff;
  font-size: 6rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.hero__text {
  font-size: 2rem;
  color: #ccc;
  letter-spacing: 1px;
  margin-bottom: 4rem;
}

@media screen and (min-width: 768px) {
  .hero__content {
    text-align: left;
  }

  .hero__heading {
    font-size: 7rem;
  }
}

@media screen and (min-width: 1024px) {
  .hero__heading {
    font-size: 8rem;
  }
}

/* Domains */
.domain {
}

.domain__header {
}

.domain__heading {
}

.domain__text {
}

.domain__input-group {
  background-color: #fff;
  box-shadow: 0 0 30px 20px #e6ebee;
  border-radius: 100px;
  display: flex;
  overflow: hidden;
  max-width: 670px;
  margin: 0 auto 4rem;
}

.domain__input {
  flex-grow: 1;
  width: 0;
  font-size: 2rem;
  padding: 2rem 4rem;
  color: var(--color-text);
  outline: none;
  border: none;
}

::placeholder {
  color: #aaa;
}

.domain__btn {
  display: flex;
  align-items: center;
}

.domain__btn .icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.domain__prices {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  max-width: 700px;
  margin: 0 auto;
}

.domain__item {
  font-size: 2rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .domain__prices {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .domain__item {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .domain__prices {
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  }
}

/* Plans */
.plans {
}

.plans__content {
  gap: 8rem 4rem;
  justify-items: center;
  align-items: start;
}

.plan {
  width: 100%;
  max-width: 500px;
  transition: all 0.3s;
}

.plan:hover {
  transform: scale(1.05);
}

.plan--popular {
  position: relative;
  transform: scale(1.1);
}

.plan--popular:hover {
  transform: scale(1.15);
}

.plan--popular::before {
  content: url("../images/popular.svg");
  position: absolute;
  width: 30px;
  right: 10px;
  top: -3px;
}

.plan__header {
  color: #fff;
}

.plan__heading {
  font-size: 2.4rem;
  font-weight: 500;
  display: block;
}

.plan__price {
  font-size: 5rem;
}

.plan__bill-cycle {
  font-size: 2rem;
  font-weight: 300;
  opacity: 0.8;
  margin-right: 1rem;
}

.plan__description {
  font-size: 2rem;
  display: block;
  letter-spacing: 1px;
  font-weight: 300;
}

.plan__btn {
  margin-top: 4rem;
}

@media screen and (min-width: 1024px) {
  .plan__heading {
    font-size: 1.4rem;
  }

  .plan__bill-cycle {
    font-size: 1.6rem;
  }

  .plan__description {
    font-size: 1.7rem;
  }
}

/* Features */
.feature {
  gap: 4rem;
  /* border: 1px solid #f00; */
  margin: 12rem 0;
}

.feature__content {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}

.feature__heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--color-heading);
}

.feature__description {
  color: var(--color-text);
  font-size: 1.8rem;
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(2n) .feature__content {
    order: 2;
  }
}

@media screen and (min-width: 1024px) {
  .feature__heading {
    font-size: 2.4rem;
  }
}

/* Showcase */
.showcase__content {
  gap: 3rem 0;
}

.showcase__heading {
  color: #fff;
  margin: 0;
}

.showcase__media {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

@media screen and (min-width: 768px) {
  .showcase__content {
    align-items: start;
  }

  .showcase__media {
    margin-top: 20px;
  }

  .showcase__picture {
    justify-self: end;
  }

  .showcase__picture > img {
    width: auto;
    max-width: 700px;
  }

  .showcase__content {
    grid-template-columns: 50% 50%;
  }
}

/* Testimonials */
.testimonials__content {
  padding: 0 2rem 5rem 2rem;
}

.testimonials__image {
  padding: 3rem;
  position: relative;
}

.testimonials__icon {
  background-color: var(--color-accent);
  position: absolute;
  top: 50px;
  right: 0;
}

.testimonials__icon .icon {
  width: 35px;
  height: 35px;
  fill: #fff;
}

.testimonials__sayings {
  padding: 1rem;
}

@media screen and (min-width: 1024px) {
  .testimonials__content {
    column-gap: 2rem;
    padding-bottom: 0;
  }
}
