<section class="block domain">
  <div class="container">
    <header class="block__header domain__header">
      <h2 class="block__heading domain__heading">Starting at $10 per month</h2>
      <p class="block__text domain__text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum
        praesentium quibusdam.
      </p>
    </header>
    <div class="domain__input-group">
      <input
        class="domain__input"
        type="text"
        placeholder="Enter domain name here..."
      />
      <button class="btn btn--accent domain__btn">
        <svg class="icon icon--light">
          <use href="images/sprite.svg#search"></use>
        </svg>
        <span>Search</span>
      </button>
    </div>
    <ul class="domain__prices">
      <li class="badge badge--secondary domain__item">.com $9.26</li>
      <li class="domain__item">.sg $7.91</li>
      <li class="domain__item">.space $12.98</li>
      <li class="domain__item">.info $14.15</li>
      <li class="domain__item">.net $16.15</li>
      <li class="domain__item">.xyz $10.16</li>
    </ul>
  </div>
</section>
