<header class="header">
  <nav class="container collapsible nav">
    <img class="nav__logo" src="images/logo.svg" alt="Moshified Logo" />
    <svg class="collapsible__icon icon icon--light nav__icon">
      <use href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="collapsible__content nav__list">
      <li class="nav__item"><a href="#">Hosting</a></li>
      <li class="nav__item"><a href="#">VPS</a></li>
      <li class="nav__item"><a href="#">Domain</a></li>
      <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
  </nav>
</header>
