<section class="block testimonials">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">What our Customers are Saying</h2>
      <p class="block__description">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit, minima!
      </p>
    </header>
    <div class="card grid grid--1x2 testimonials__content">
      <div class="testimonials__image">
        <img
          src="images/testimonial.jpg"
          alt="John Smith who is the CEO at ABC Company"
        />
        <div class="icon-container testimonials__icon">
          <svg class="icon">
            <use href="images/sprite.svg#quotes"></use>
          </svg>
        </div>
      </div>
      <div class="testimonials__sayings">
        <blockquote class="quote">
          <p class="quote__text">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste
            doloribus dicta numquam facere necessitatibus tempora reprehenderit
            deserunt voluptatem, quia natus.
          </p>
          <footer class="quote__footer">
            <svg class="icon quote__icon">
              <use href="images/sprite.svg#line"></use>
            </svg>
            <div class="quote__info">
              <span class="quote__name">John Smith</span>
              <span class="quote__company">ABC Company</span>
            </div>
          </footer>
        </blockquote>
      </div>
    </div>
  </div>
</section>
